h2{
    font-family: 'Luckiest Guy', cursive;
}
.featured-card {
    z-index: 2;
    border: 2px solid #ff4d4d;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.normal-card {
    transform: translateY(20%);
    opacity: 0.9;
}
.triangle-discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-radius: 0 4px 0 0;
    border-top: 80px solid #dc3545; 
    border-left: 80px solid transparent;
    z-index: 2;
}

.triangle-discount span {
      position: absolute;
    top: -65px; 
    right: 5px; 
    transform: rotate(45deg); 
    color: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    z-index: 3;
    white-space: nowrap;
}


.text-decoration-line-through {
    color: #888;
}
